
<!doctype html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    </head>
    
    <body ng-app="myApp">

        <div ng-controller="MainController">
            <p style="font-size:20px;">Enter name:
                <input type="text" ng-model="name"/>
            </p>
            <button ng-click="login()">Login</button>

            <div>
                <h1>{{lol}}</h1>
            </div>
        </div>
        <!-- Modules -->
        <script src="js/app.js"></script>
        <!-- Controllers -->
        <script src="js/controllers/MainController.js"></script>
        <!-- Services -->
        <script src="js/services/TestService.js"></script>
    </body>
</html>